@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
    background-color: #EFEBE9;
    color: #263238;
} 

#container {
	padding-left: 15%;
	padding-right: 15%;
}

header {
	text-align: center;
}

#mePic {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#name {
	padding-top: 15px;
	font-size: 2em;
	font-weight: bolder;
}

#nav {
    border-top: solid black;
    border-bottom: solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#linked, #git, #fb {
	padding: 5px;
	margin-right: 15px;
	margin-left: 15px;
	color:black;
}

#linked:hover, #git:hover, #fb:hover {
	color: #424242;
}

#nav, #social {
	list-style: none;
}

#social li, #nav li {
	display: inline-block;
}

#nav li{
	padding-left: 5%;
	padding-right: 5%;
}

#social ul {
    display: flex;
    justify-content:center;
}

#aboutMe {
	border-bottom: dotted black;
	padding-bottom: 10px;
}
