@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
    background-image: url("back.png");
    color: #E0F2F1;
} 

#container {
	padding-left: 15%;
	padding-right: 15%;
}

header {
	text-align: center;
	color: #009688;

}

h3{
	color: #009688;
}

#mePic {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#name {
	padding-top: 15px;
	font-size: 2em;
	font-weight: bolder;
}

#nav {
    border-top: solid #009688;
    border-bottom: solid #009688;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
	color: #E0F2F1;
}

a:hover {
	color: #009688;
}

#first {
	text-align: center;
}

#linked, #git {
	padding: 5px;
	margin-right: 15px;
	margin-left: 15px;
	color: #E0F2F1;
}

#linked:hover, #git:hover {
	color: #009688;
}

#nav, #social {
	list-style: none;
}

#social li, #nav li {
	display: inline-block;
}

#nav li{
	padding-left: 9%;
	padding-right: 9%;
}

#social ul {
    display: flex;
    justify-content:center;
}

#aboutMe, #social{
	border-bottom: dotted #009688;
	padding-bottom: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50%;
}

input[type=text], textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    padding:10px;
    background-color: #009688;
    color: #E0F2F1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}
